.map{
    position: relative;
}

.map__img{
    width: 100%;
}
.map__img img{
    width: 100%;
    height: 1800px;
}
.checkMap__Content--hiden{
    background-color: #133E26;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px 0;
    margin-bottom: 5px;
   display: none;
    width: 26%;

}
.checkMap__Check {
    font-size: 35px;
}
.checkMap__Content--hiden h1{
    color: #D59D9D;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.checkMap__Content--hiden p{
    color: #D59D9D;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}
.checkMap__Content--hiden h2{
    color: #D59D9D;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;

}
.check1 {
    position: absolute;
    top: 27%;
    left: 41%;
}
.check2 {
    position: absolute;
    top: 27%;
    left: 52%;

}
.check3 {
    position: absolute;
    top: 33%;
    left: 42%;
}
.check4 {
    position: absolute;
    bottom: 46%;
    right: 38%;
}
.check5 {
    position: absolute;
    bottom: 42%;
    right: 32%;
}
.check6 {
    position: absolute;
    bottom: 22%;
    right: 28%;
}
.check7 {
    position: absolute;
    bottom: 18%;
    right: 38%;

}
.check8 {
    position: absolute;
    bottom: 19%;
    right: 48%;

}
.show{
    display: block;
}
.checkMap__content1{
    position: absolute;
    top: 21%;
    left: 17%;

}
.checkMap__content2{
    position: absolute;
    top: 21%;
    left: 54%;
}
.checkMap__content3{
    position: absolute;
    top: 29%;
    left: 43%;

}
.checkMap__content4{
    position: absolute;
    top: 46%;
    left: 60%;
}
.checkMap__content5{
    position: absolute;
    top: 50%;
    left: 66%;
}
.checkMap__content6{
    position: absolute;
    top: 70%;
    left: 70%;
}

.checkMap__content7{
    position: absolute;
    top: 73%;
    left: 44%;
}
.checkMap__content8{
    position: absolute;
    top: 73%;
    left: 43%;
}

/* font-family: 'Open Sans', sans-serif; font-family: 'Lobster', cursive;*/