.footer{
    padding-top: 30px;
    text-align: center;
    background-color: black;
}
.footer::before{
    content: '';
    display: table;
    clear: both;
}
.footer::after{
    content: '';
    display: table;
    clear: both;
}
.footer h1{
    font-size: 45px;
    color: #D59D9D;
    margin: 30px 0 20px 0;
    font-family: 'Lobster', cursive;
}
.footer__icon{
color: bisque;
}
.footer__icon span{
    margin: 10px;
    font-size: 17px;
}
.footer h3{
    color: #D59D9D;
    margin: 10px 0 20px 0;
    font-family: 'Lobster', cursive;
    font-size: 15px;
}